* { box-sizing: border-box }

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	margin:0;
	padding: 0;
}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.search-container {
	width: 640px;
	margin: 100px auto 0 auto;
	background: #252525;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.search-input {
	display: block;
	width: 100%;
	color:#fffff2;
	
	padding: 16px 16px 14px 16px; 
	border: 0;
	outline: 0;
	background: transparent;

	font-size: 20px;
}

.entry {
	border: 1px solid #cecece;
	border-bottom:0;
	display:none;
}

.entry a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding: 8px 16px;
	color: #fffff2;
	text-decoration: none
}

.entry.focus, .entry:hover {
	background: #646464;
	
}

.entry .title {
	font-weight: bold;
}

.entry .url {
	
}